aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    overflow: hidden;
}

aside.logo img {
    padding: 0px 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
